@model bug_tracker_web.Models.Project

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid bg-light pt-4 text-dark rounded shadow-lg pb-0">
    <div class="container-xl">
        <h1 class="mb-3">Register a Project</h1>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="mb-3">
                                <label asp-for="ProjectName" class="form-label">Name</label>
                                <input asp-for="ProjectName" class="form-control" />
                                <span asp-validation-for="ProjectName" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="ProjectType" class="form-label">Type</label>
                                <input asp-for="ProjectType" class="form-control" />
                                <span asp-validation-for="ProjectType" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="ProjectDescription" class="form-label">Description</label>
                                <textarea class="form-control" id="tiny" name="editordata" rows="3"></textarea>
                                <span asp-validation-for="ProjectDescription" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="ProjectVersion" class="form-label">Version</label>
                                <input asp-for="ProjectVersion" class="form-control" />
                                <span asp-validation-for="ProjectVersion" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="ProjectCreatedAt" class="form-label">Created On</label>
                                <input asp-for="ProjectCreatedAt" class="form-control" />
                                <span asp-validation-for="ProjectCreatedAt" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="ProjectCreatedBy" class="form-label">Created By</label>
                                <input asp-for="ProjectCreatedBy" class="form-control" />
                                <span asp-validation-for="ProjectCreatedBy" class="text-danger"></span>
                            </div>

                            <div class="d-grid gap-2">
                                <input type="submit" value="Create" class="btn btn-primary btn-lg" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3">
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
