@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div id="">
    <main>
        <div class="container pl-4">
            <h1 class="mt-4 pb-4">Manage Account Settings</h1>
            <div class="card mb-4">
                <div class="card-body row">
                    <div class="col-md-3 nav-container">
                        <partial name="_ManageNav" />
                    </div>
                    <div class="col-md-9 content-container">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>




@section Scripts {
    @RenderSection("Scripts", required: false)
}
